.success-story {
  /* margin-top: 200px; */
  font-family: Manrope;
  font-size: 45px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  color: #3a1078;
  position: relative;
}
.first-vector{
  position: absolute;
  left: 0;
}
.success_heading{
  padding-top: 10%;
}
.main-grid {
  margin-top: 120px !important;
  justify-content: space-between;
  overflow-x: hidden;
  display: flex;
  height: 317px;
}
.spotify {
  width: 100%;
  height: 317px;
}
.filter {
  width: 317px;
  height: 317px;
}
.airbnb {
  width: 317px;
  height: 317px;
}
.trello {
  width: 317px;
  height: 317px;
}
.maps {
  width: 317px;
  height: 317px;
}
.headstone {
  width: 317px;
  height: 317px;
}
.elevate {
  width: 1263px;
  height: 298px;
  padding: 56px 50px 56px 50px;
  gap: 8px;
  background-color: #1976d2;
  margin-top: 90px;
}
.success-tag {
  width: 1200px;

  font-family: Manrope;
  font-size: 45px;
  font-weight: 500;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}
/* custom css */
.main-container{
    height: 300px;
    justify-content: space-around;
}
.main-container:hover div{
  margin-left: 20px;
  margin-right: 20px;
}
.main-container div:hover{
  width: 50%;
}

.div-same{
    height: 100%;
    width: 25%;
    margin-top: 30px;
    transition: ease 0.8s;
    position: relative;
    overflow: hidden;
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.first-box{
  min-height: 100%;
  width: 100%;
  position: absolute;
  transition: all ease 0.8s;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  background: var(--light-blue, #2F58CD);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  margin: 0px;
  color: white;
}

.div-same:hover .overlay {
  opacity: 0.9;
  margin: 0px;
}
.spotify-heading{
  position: absolute;
  left: 30px;
  top: 20px;
  color: #FFF;

/* Nuninto h2 32px */
font-family: Manrope;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.spotify-description{
  position: absolute;
  left: 50px;
  top: 100px;
  width:453px;
  color: #FFF;
  font-family: Manrope;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.learn-more{
  position: absolute;
  top: 200px;
  left: 335px;
  display: flex;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 8px;
background: var(--dark-blue, #3A1078);
border: none;
color: white;
}
.portfolio-testimonial{
  margin-top: 5%;
}











