.featuresChild {
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 0px);
    border-radius: 50%;
    background-color: rgba(9, 0, 23, 0.05);
    width: 1px;
    height: 1px;
  }
  .softwareSolutions {
    background: linear-gradient(270deg, #66f, #2569e6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .weCanProduceContainer1 {
    line-break: anywhere;
    width: 100%;
  }
  .weCanProduceContainer {
    position: absolute;
    top: 48px;
    left: calc(50% - 395px);
    font-size: 44.28px;
    font-weight: 800;
    text-align: center;
    display: flex;
    align-items: center;
    width: 790px;
  }
  .featureCardChild {
    position: absolute;
    top: -31px;
    left: -32px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    width: 63px;
    height: 63px;
    transition: all 1s ease;
    
  }
  .featureCard:hover .featureCardChild{
    margin-top: 100px;
    margin-left: 170px;
    height: 350px;
    width: 350px;
    /* transition-duration: 1s !important; */
    
  }
  .featureCard:hover .intelligentAutomation{
    color: blue
  
  
  }
  .component17:hover .featureCardChild{
    margin-top: 130px;
    margin-left: 170px;
    height: 350px;
    width: 350px;
    /* transition-duration: 1s !important; */
    
  }
  .component17:hover .intelligentAutomation{
    color: blue
  
  
  }
  .component18:hover .featureCardChild{
    margin-top: 130px;
    margin-left: 170px;
    height: 350px;
    width: 350px;
    /* transition-duration: 1s !important; */
    
  }
  .component18:hover .intelligentAutomation1{
    color: blue
  
  
  }
  .component19:hover .featureCardChild{
    margin-top: 130px;
    margin-left: 170px;
    height: 350px;
    width: 350px;
    /* transition-duration: 1s !important; */
    
  }
  .component19:hover .intelligentAutomation{
    color: blue
  
  
  }
  .component21:hover .featureCardChild{
    margin-top: 130px;
    margin-left: 170px;
    height: 350px;
    width: 350px;
    /* transition-duration: 1s !important; */
    
  }
  .component21:hover .intelligentAutomation{
    color: blue
  
  
  }
  .component20:hover .featureCardChild{
    /* margin-top: 130px;
    margin-left: 170px; */
    height: 350px;
    width: 50px;
    /* transition-duration: all 1s ease !important; */
    
  }
  .component20:hover .intelligentAutomation{
    color: blue
  
  
  }
  .intelligentAutomation {
    position: absolute;
    top: 24px;
    left: 24px;
    display: flex;
    align-items: center;
    width: 302px;
    color: white;
  }
  
  .streamlineAndOptimize {
    position: absolute;
    top: 73px;
    left: 24px;
    font-size: 15px;
    display: inline-block;
    width: 302px;
  }
  .featureCard {
    position: absolute;
    top: 56px;
    left: 0px;
    background-color: rgba(244, 241, 248, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    width: 350px;
    height: 227px;
    overflow: hidden;
  }
  .intelligentAutomation1 {
    position: absolute;
    top: 7px;
    left: 24px;
    display: flex;
    align-items: center;
    width: 302px;
  }
  .component17,
  .component18 {
    position: absolute;
    top: 48px;
    left: 800px;
    background-color: rgba(244, 241, 248, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    width: 350px;
    height: 227px;
    overflow: hidden;
  }
  .component17 {
    top: 0;
    left: 420px;
  }
  .featureCardParent {
    position: absolute;
    top: 213px;
    left: 19px;
    width: 100%;
    height: 283px;
  }
  .component19,
  .component20,
  .component21 {
    position: absolute;
    top: 0;
    left: -68px;
    background-color: rgba(244, 241, 248, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    width: 350px;
    height: 227px;
    overflow: hidden;
  }
  .component20,
  .component21 {
    left: 715px;
  }
  .component21 {
    top: 48px;
    left: 339px;
  }
  .component19Parent {
    position: absolute;
    top: 562px;
    left: 150px;
    width: 100%px;
    height: 275px;
  }
  .features {
    position: relative;
    background-color: #090017;
    width: 100%px;
    height: 920px;
    overflow: hidden;
    text-align: left;
    font-size: 24px;
    color: #fff;
    font-family: Manrope;
    margin-top: -7px !important;
  }
  